.message-btn {
  background-color: rgb(49, 53, 57);
  border: none;
}

.message-btn:hover {
  transform: scale(1.02);
  background-color: rgb(68, 73, 79) !important;
}

.contact-div {
  background-image: url("/snow_mountain_sun.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
