.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/hero_image.jpg");
  transition: transform 0.3s ease;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-position: 90% bottom;
}
.hero-section:hover {
  overflow: hidden;
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .hero-link {
    margin-top: -100px;
  }
  .hero-section {
    background-position: top center;
  }
}

@media (max-width: 380px) {
  .hero-link {
    margin-top: -200px !important;
  }
}

.hero-link {
  margin-top: -150px;
  padding: 30px;
}

.welcome-h1:hover {
  cursor: pointer;
  color: rgb(228, 228, 228);
}

.welcome-h1 {
  margin-top: 300px;
  color: white;
  font-size: 3.7rem;
}
