.book-now-btn {
  background-color: rgb(49, 53, 57);
  border: none;
}

.book-now-btn:hover {
  transform: scale(1.01);
  background-color: rgb(68, 73, 79) !important;
}

.description-text {
  font-size: 0.9rem;
}

h3 {
  font-size: 1.1rem;
}

.cost-col {
  font-size: 0.8rem;
}
