.about-quote {
    background-image: url('/hero2.png');
    background-size: cover;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    margin: 150px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 1.4;
    background-color: white;
    color: white;
    text-shadow: 1px 1px gray;
    border: 1px solid rgb(192, 192, 201);
}

.mission-image,
.values-image {
    width: 100%;
    /* Gör den responsiv */
    max-width: 400px;
    /* Här sätter du exakt hur stor du vill att bilden ska vara */
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centrerar bilden i kolumnen */
    border-radius: 12px;
    filter: grayscale(100%);

}