.about-quote {
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  margin: auto;
  line-height: 1.4;
  color: white;
  text-shadow: 1px 1px gray;
}

.values-quote-div {
  background-image: url("/blue_moon_sky.jpg");
  transition: transform 0.3s ease;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  background-position: center center;
}

.values-quote {
  font-size: 4rem;
}

.quote-div {
  background-image: url("/mountain_peak.jpg");
  transition: transform 0.3s ease;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
}

.quote-div:hover,
.values-quote-div:hover {
  overflow: hidden;
  transform: scale(1.02);
}
.values-quote-wrapper,
.about-quote-wrapper {
  overflow: hidden;
}
