html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.header-logo {
  cursor: pointer;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: block;
  height: auto;
  min-height: 100vh;
}

.home-header .dropdown-toggle::after {
  display: none !important;
}

.home-header .nav-link,
.home-header .dropdown-toggle,
.home-header .dropdown-item {
  color: black !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.nav-link:hover,
.dropdown-item:hover {
  transform: scale(1.01);
  color: #888 !important;
  background-color: transparent !important;
}

.header-menu {
  color: black;
}

.header-logo {
  height: 95px;
  object-fit: contain;
  justify-content: center;
  padding-bottom: 5px;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(100, 99, 99);
}

nav button:hover {
  transform: scale(1.1);
}
