.room-text-area {
    padding-top: 25px;
    padding-bottom: 25px;
}



.amenities-list {
    padding-top: 25px;


}

.cost-and-book {
    padding-top: 25px;
}

.book-now-btn {
    background-color: rgb(49, 53, 57);
    border: none;
}

.book-now-btn:hover {
    transform: scale(1.1);
    background-color: rgb(68, 73, 79);
}